body{
    margin:0px;
    padding:0px;

}
#body{
    border:1px solid red;
    height:200px;
    width:700px;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    display:none;

}
#body2{
    border:1px solid red;
    /* height:200px; */
    width: 800px;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    display:none;
}
#body3{
    border:1px solid red;
    /* height:700px; */
    width: 600px;
    /* display:flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* justify-content: space-around; */
    position:absolute;
    right:30px;
    top:50px;
    display:none;
}

.circle{
    width: 100px;
    height:100px;
    border:1px solid red;
    border-radius:100px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.triangle{
    width: 0;
    height: 100;
    display:flex;
    justify-content: center;
    /* align-items: center; */
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid red;
}
.square{
    width: 100px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid red;
    /* background: red; */
}
.rectangle{
    width: 200px;
    height: 100px;
    border:1px solid red;
    display:flex;
    justify-content: center;
    align-items: center;
    /* background: red; */
}
.e1{
    width:500px;
    border: 1px solid red;
    /* display: flex; */
    text-align: center;
}
.e2{
    width:500px;
    border: 1px solid red;
    text-align: center;
}

.e3{
    width:500px;
    border: 1px solid red;
    text-align: center;
}

.e4{
    width:500px;
    border: 1px solid red;
    text-align: center;
}
button{
    height:100px;
    width: 100px;
    margin:20px;
}
h1{
    /* font-size:30px; */
}